@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6f2f9ba;
    font-family: Poppins;
}

/*--------------------------------------container1----------------------------------------*/
#spotlight {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#spotlight .nave {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    gap: 18.75rem;
    background-color: white;
    position: fixed;
    /* z-index: 1; */
}

#spotlight .nave .menu-icon {
    display: none;
}

#spotlight .nav-bar ul {
    display: flex;
}

#spotlight .nav-bar ul li {
    list-style: none;
    color: #717171;
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
    cursor: pointer;
}

#spotlight .nav-bar ul li:hover {
    color: #0fa76f;
}

#spotlight .content {
    display: flex;
    flex-direction: column;
    background-color: #f1f9ef;
    border-radius: 20px;
    margin-top: 130px;
    width: 63vw;
    padding: 50px;
}

#spotlight .content h1 {
    color: black;
    font-size: 40px;
    line-height: 55px;
    font-weight: 400;
}

#spotlight .content h1 span {
    color: #27bb5f;
}

#spotlight .content .spot-p {
    font-size: 19.5px;
    color: #817c7c;
    line-height: 30px;
    font-weight: 400;
    padding: 20px 0px;
}

/*---------------------------container2------------------------------------------------ */
#container2 {
    width: 100%;
    height: auto;
    align-items: center !important;
}

#container2 .con2 {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 20px;
    margin-top: 40px;

}

#container2 .con2 .education {
    padding: 30px;
    border-radius: 25px;
    width: 30vw;
    background-color: #dcd9f8;

}

#container2 .con2 .education .head {
    font-size: 18px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.54);
    border-radius: 30px;
    padding: 15px;
    align-items: center;
    width: 13vw;
    display: flex;
    gap: 10px;
}

#container2 .con2 .education .bottom {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(54, 65, 82);
    padding-top: 20px;
}

#container2 .con2 .IT {
    padding: 30px;
    border-radius: 25px;
    width: 30vw;
    background-color: #dcd9f8;

}

#container2 .con2 .IT .head {
    font-size: 18px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.54);
    border-radius: 30px;
    padding: 15px;
    align-items: center;
    width: 10vw;
    display: flex;
    gap: 10px;
}

#container2 .con2 .IT .bottom {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(54, 65, 82);
    padding-top: 20px;
}

#container2 .con2 .startup {
    padding: 30px;
    border-radius: 25px;
    width: 30vw;
    background-color: #dcd9f8;

}

#container2 .con2 .startup .head {
    font-size: 18px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.54);
    border-radius: 30px;
    padding: 15px;
    align-items: center;
    width: 13vw;
    display: flex;
    gap: 10px;
}

#container2 .con2 .startup .bottom {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(54, 65, 82);
    padding-top: 20px;
}

#container2 .con2 .tourism {
    padding: 30px;
    border-radius: 25px;
    width: 30vw;
    background-color: #dcd9f8;

}

#container2 .con2 .tourism .head {
    font-size: 18px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.54);
    border-radius: 30px;
    padding: 15px;
    align-items: center;
    width: 13vw;
    display: flex;
    gap: 10px;
}

#container2 .con2 .tourism .bottom {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(54, 65, 82);
    padding-top: 20px;
}

#container2 .con2 .health {
    padding: 30px;
    border-radius: 25px;
    width: 30vw;
    background-color: #dcd9f8;

}

#container2 .con2 .health .head {
    font-size: 18px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.54);
    border-radius: 30px;
    padding: 15px;
    align-items: center;
    width: 13vw;
    display: flex;
    gap: 10px;
}

#container2 .con2 .health .bottom {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(54, 65, 82);
    padding-top: 20px;
}

/*---------------------------------container3-------------------------------------------*/
#container3 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background-color: #f6f2f9ba;
    justify-content: center;
    margin-top: 40px;
}

#container3 .con3 {
    width: 67vw;
    justify-content: center;
    display: flex;
    background-color: #0b3436;
    border-radius: 28px;
}

#container3 .con3 .page3-left {
    padding: 15px;
}

#container3 .con3 .page3-left .page3-head {
    font-size: 16px;
    font-weight: 500;
    background-color: #3c5d5e;
    border-radius: 20px;
    padding: 15px;
    align-items: center;
    width: 550px;
    color: white;
    display: flex;
    gap: 10px;
    margin-left: 20px;
    margin-top: 30px;
}

#container3 .con3 .page3-left .page3-content {
    font-size: 18px;
    color: white;
    line-height: 28px;
    font-weight: 300;
    padding: 20px 30px;
}

#container3 .con3 .page3-right .p3-img {
    width: 400px;
    height: 440px;
    border-radius: 0px 20px 20px 0px;
}

/*--------------------------container4------------------------------------------------- */
#container4 {
    width: 100%;
    align-items: center !important;
    background-color: #f6f2f9ba;
    text-align: center;
    justify-content: center;
}

#container4 h2 {
    font-size: 28px;
    font-weight: 500;
    color: rgb(33, 33, 33);
    margin-top: 60px;
}

#container4 .con4 {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#container4 .con4 .page4 {
    width: 22vw;
    background-color: #f3f3fe;
    border: 1px solid #e1e1ea;
    border-radius: 18px;
    margin-top: 40px;
}

#container4 .con4 .page4 .page4-img {
    width: 50px;
    height: 50px;
    padding: 20px;
}

#container4 .con4 .page4 .page4-top {
    font-size: 19px;
    font-weight: 400;
    color: #212121;
    line-height: 28px;
    padding: 5px 20px;
}

#container4 .con4 .page4 .page4-botom {
    font-size: 16px;
    line-height: 25.5px;
    color: #86888A;
    padding: 20px;
}

/*---------------------------container5-------------------------------------------------*/

#container5 {
    width: 100%;
    align-items: center !important;
    background-color: #f6f2f9ba;
    margin-top: 60px;
    justify-content: center;
    display: flex;
}

#container5 .con5 {
    display: flex;
    background: linear-gradient(135deg, #113c5e, #2e5875);
    padding: 20px;
    border-radius: 20px;
    width: 65vw;
}

#container5 .con5 .con5-img {
    width: 177px;
    height: 162px;
}

#container5 .con5 .page5 .p5-top {
    font-size: 20px;
    color: white;
    font-weight: 500;
    padding: 20px;
}

#container5 .con5 .page5 .p5-botom {
    font-size: 16px;
    font-weight: 300;
    color: white;
    line-height: 20px;
    padding: 10px 20px;
}

/*-----------------------------container6-----------------------------------------------*/

#container6 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container6 .con6 {
    width: 67vw;
    height: 450px;
    display: flex;
    margin-top: 40px;
    background: linear-gradient(135deg, #f6f8f6, #fdfdfd);
    border-radius: 20px;
    gap: 20px;
}

#container6 .con6 .page6 {
    width: 650px;
    height: 450px;
}

#container6 .con6 .page6 .p6-head {
    font-size: 35px;
    font-weight: 500;
    color: #6ab975;
    padding: 20px 40px;
}

#container6 .con6 .page6 .p6-content {
    font-size: 19px;
    color: rgb(71, 84, 103);
    line-height: 29px;
    font-weight: 400;
    padding: 0px 40px;
}

#container6 .con6 .page6 button {
    color: white;
    border-radius: 6px;
    background: linear-gradient(135deg, #0fa674, #0fa096);
    font-size: 18px;
    font-weight: 400;
    border: none;
    height: 40px;
    width: 130px;
    margin: 40px;
    align-items: center;
}

#container6 .con6 .page6 button .page6-img {
    width: 15px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

#container6 .con6 .p6-img {
    width: 650px;
    height: 450px;
    border-radius: 0px 25px 25px 0px;
}

/*--------------------------------container7------------------------------------------- */
#container7 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container7 .con7 {
    width: 67vw;
    height: 430px;
    display: flex;
    margin-top: 40px;
    background: linear-gradient(135deg, #f6f8f6, #fdfdfd);
    border-radius: 20px;
    gap: 20px;
}

#container7 .con7 .p7-img {
    width: 650px;
    height: 430px;
    border-radius: 25px 0px 0px 25px;
}

#container7 .con7 .page7 {
    width: 600px;
    height: 430px;
}

#container7 .con7 .page7 h2 {
    font-size: 35px;
    font-weight: 500;
    color: #6ab975;
    padding: 20px 40px;
}

#container7 .con7 .page7 p {
    font-size: 19px;
    color: rgb(71, 84, 103);
    line-height: 30px;
    font-weight: 400;
    padding: 0px 40px;
}

#container7 .con7 .page7 button {
    color: white;
    border-radius: 6px;
    background: linear-gradient(135deg, #0fa674, #0fa096);
    font-size: 18px;
    font-weight: 400;
    border: none;
    height: 40px;
    width: 130px;
    margin-left: 40px;
    margin-top: 50px;
}

#container7 .con7 .page7 button .page7-img {
    width: 15px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

/*-----------------------------------container8-----------------------------------------*/
#container8 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    background-color: #ecf4ea;
}

#container8 .p8-h2 {
    font-size: 30px;
    color: black;
    font-weight: 500;
    text-align: center;
    margin-top: 50px;
}

#container8 .p8-h2 span {
    color: #0fa76f;
}

#container8 .page8-p {
    font-size: 17px;
    font-weight: 400;
    color: #817c7c;
    line-height: 25px;
    padding: 20px;
    text-align: center;
    width: 700px;
}

#container8 .con8 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 70vw;
    margin: 60px 0px;
}

#container8 .con8 .page8 {
    width: 230px;
    height: 450px;
    border-radius: 20px;
    background-color: white;
}

#container8 .con8 .page8 .p8-top .page8-img {
    width: 230px;
    border-radius: 10px 10px 0px 0px;
}

#container8 .con8 .page8 .p8-bottom {
    padding: 17px 30px;
}

#container8 .con8 .page8 .p8-bottom .p8-h3 {
    font-size: 18px;
    color: black;
    font-weight: 500;
}

#container8 .con8 .page8 .p8-bottom .p8-p {
    font-size: 16px;
    color: #817c7c;
    font-weight: 300;
    line-height: 25px;
    padding-top: 10px;
}

#container8 .con8 .page8 .p8-bottom .p8-btn {
    padding: 8px;
    background-color: #0fa76f;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: white;
    font-weight: 300;
    width: 150px;
    margin-top: 20px;
}

#container8 .con8 .page8 .p8-bottom .page7-img {
    padding: 5px;
    width: 15px;
    text-align: center;
    vertical-align: middle;
}

/* -----------------------------------------container9---------------------------------- */
#container9 {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: black;
    justify-content: space-around;
    height: 90px;
}

#container9 .left a {
    list-style: none;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#container9 .right .footer-img {
    padding: 5px;
}

/*--------------------------------responsive 1280 to 1439-------------------------------*/
@media screen and (min-width : 1280px) and (max-width :1440px) {
    #spotlight {
        width: 100%;
    }

    #spotlight .nave {
        width: 100%;
        gap: 25rem;
    }

    #spotlight .content {
        width: 80vw;
    }

    #container2 .con2 .education {
        width: 37vw;
    }

    #container2 .con2 .education .head {
        width: 20vw;
    }

    #container2 .con2 .IT {
        width: 37vw;
    }

    #container2 .con2 .IT .head {
        width: 13vw;
    }

    #container2 .con2 .startup {
        width: 37vw;
    }

    #container2 .con2 .startup .head {
        width: 20vw;
    }

    #container2 .con2 .tourism {
        width: 37vw;
    }

    #container2 .con2 .tourism .head {
        width: 20vw;
    }

    #container2 .con2 .health {
        width: 37vw;
    }

    #container2 .con2 .health .head {
        width: 20vw;
    }

    #container3 .con3 {
        width: 82vw;
    }
    #container3 .con3 .page3-right .p3-img {
        height: 530px;
    }
    #container4 .con4 .page4 {
        width: 26vw;
    }

    #container5 .con5 {
        width: 76vw;
    }

    #container5 .con5 .page5 .p5-botom {
        padding: 5px 20px;
        line-height: 25px;
    }

    #container6 .con6 {
        width: 78vw;
        height: 460px;
    }

    #container6 .con6 .page6 {
        width: 600px;
        height: 450px;
    }

    #container6 .con6 .p6-img {
        width: 500px;
        height: 460px;
        border-radius: 0px 25px 25px 0px;
    }

    #container6 .con6 .page6 button {
        margin-top: 10px;
    }

    #container7 .con7 {
        width: 78vw;
    }

    #container7 .con7 .p7-img {
        width: 500px;
        height: 430px;
        border-radius: 25px 0px 0px 25px;
    }

    #container7 .con7 .page7 {
        width: 600px;
        height: 430px;
    }

    #container7 .con7 .page7 button {
        margin-top: 15px;
    }

    #container8 .con8 {
        width: 100vw;
        margin: 30px;
    }

    #container9 {
        gap: 300px;
    }

}

/*-------------------------responsive1080 to 1279---------------------------------------*/
@media screen and (min-width : 1080px) and (max-width :1279px) {
    #spotlight {
        width: 100%;
    }

    #spotlight .nave {
        width: 100%;
        gap: 8rem;
    }

    #spotlight .content {
        width: 80vw;
    }

    #container2 .con2 .education {
        width: 37vw;
    }

    #container2 .con2 .education .head {
        width: 22vw;
    }

    #container2 .con2 .IT {
        width: 37vw;
    }

    #container2 .con2 .IT .head {
        width: 15vw;
    }

    #container2 .con2 .startup {
        width: 37vw;
    }

    #container2 .con2 .startup .head {
        width: 22vw;
    }

    #container2 .con2 .tourism {
        width: 37vw;
    }

    #container2 .con2 .tourism .head {
        width: 22vw;
    }

    #container2 .con2 .health {
        width: 37vw;
    }

    #container2 .con2 .health .head {
        width: 22vw;
    }

    #container3 .con3 {
        width: 83vw;
    }

    #container3 .con3 .page3-right .p3-img {
        height: 555px;
        width: 300px;
    }

    #container4 .con4 .page4 {
        width: 26vw;
    }

    #container5 .con5 {
        width: 76vw;
    }

    #container5 .con5 .page5 .p5-botom {
        padding: 5px 20px;
        line-height: 25px;
    }

    #container6 .con6 {
        width: 78vw;
        height: 550px;
    }

    #container6 .con6 .page6 {
        width: 650px;
        height: 540px;
    }

    #container6 .con6 .p6-img {
        width: 400px;
        height: 550px;
        border-radius: 0px 25px 25px 0px;
    }

    #container6 .con6 .page6 .p6-content {
        max-height: fit-content;
    }

    #container7 .con7 {
        width: 78vw;
        height: 480px;
    }

    #container7 .con7 .p7-img {
        width: 400px;
        height: 480px;
        border-radius: 25px 0px 0px 25px;
    }

    #container7 .con7 .page7 {
        width: 650px;
        height: 480px;
    }

    #container7 .con7 .page7 p {
        max-height: fit-content;
    }

    #container8 .con8 {
        width: 90vw;
    }

    #container9 {
        gap: 300px;
    }

    #container9 .left a {
        font-size: 18px;
    }

}

/*--------------------responsive980 to 1079--------------------------------------------*/
@media screen and (min-width : 980px) and (max-width :1079px) {
    #spotlight {
        width: 100%;
    }

    #spotlight .nave {
        gap: 2rem;
        width: 100%;
    }

    #spotlight .nav-bar ul li {
        font-size: 16px;
    }

    #spotlight .content {
        width: 80vw;
    }

    #spotlight .content h1 {
        font-size: 35px;
        line-height: 50px;
        font-weight: 400;
    }

    #container2 .con2 .education {
        width: 38vw;
    }

    #container2 .con2 .education .head {
        width: 26vw;
    }

    #container2 .con2 .IT {
        width: 38vw;
    }

    #container2 .con2 .IT .head {
        width: 20vw;
    }

    #container2 .con2 .startup {
        width: 38vw;
    }

    #container2 .con2 .startup .head {
        width: 22vw;
    }

    #container2 .con2 .tourism {
        width: 38vw;
    }

    #container2 .con2 .tourism .head {
        width: 24vw;
    }

    #container2 .con2 .health {
        width: 38vw;
    }

    #container2 .con2 .health .head {
        width: 26vw;
    }

    #container3 .con3 {
        width: 92vw;
    }

    #container3 .con3 .page3-left .page3-head {
        margin-top: 0px;
        font-size: 14px;
        width: 450px;
    }

    #container3 .con3 .page3-right .p3-img {
        height: 560px;
        width: 360px;
    }

    #container3 .con3 .page3-left .page3-content {
        font-size: 16px;
    }

    #container4 .con4 .page4 {
        width: 28vw;
    }

    #container5 .con5 {
        width: 90vw;
    }

    #container6 .con6 {
        width: 92vw;
        height: 500px;
    }

    #container6 .con6 .page6 {
        height: 500px;
    }

    #container6 .con6 .page6 .p6-head {
        font-size: 30px;
    }

    #container6 .con6 .page6 .p6-content {
        font-size: 16px;
        line-height: 22px;
        width: 250px;
    }

    #container6 .con6 .p6-img {
        height: 500px;
        width: 450px;
    }

    #container6 .con6 .page6 button {
        margin-top: 15px;
    }

    #container6 .con6 .page6 .p6-head {
        padding: 10px 20px;
    }

    #container7 .con7 {
        width: 92vw;
    }

    #container7 .con7 .page7 h2 {
        line-height: 40px;
        font-size: 35px;
    }

    #container7 .con7 .page7 p {}

    #container7 .con7 .p7-img {
        width: 450px;
    }

    #container7 .con7 .page7 button {
        margin-top: 30px;
    }

    #container7 .con7 .page7 p {
        font-size: 16px;
    }

    #container9 .left a {
        font-size: 18px;
    }

    #container8 .con8 {
        width: 90vw;
    }
}

@media screen and (min-width : 768px) and (max-width :979px) {
    #spotlight .nave {
        display: flex;
        justify-content: space-around;
        gap: 4.5rem;

    }

    #spotlight .nav-bar ul li {
        font-size: 14px;
    }

    #spotlight .content {
        width: 80vw;
    }

    #spotlight .content h1 {
        font-size: 30px;
        line-height: 40px;
    }

    #container2 .con2 .education {
        width: 38vw;
    }

    #container2 .con2 .education .head {
        width: 34vw;
    }

    #container2 .con2 .IT {
        width: 38vw;
    }

    #container2 .con2 .IT .head {
        width: 30vw;
    }

    #container2 .con2 .startup {
        width: 38vw;
    }

    #container2 .con2 .startup .head {
        width: 32vw;
    }

    #container2 .con2 .tourism {
        width: 38vw;
    }

    #container2 .con2 .tourism .head {
        width: 34vw;
    }

    #container2 .con2 .health {
        width: 38vw;
    }

    #container2 .con2 .health .head {
        width: 34vw;
    }

    #container3 .con3 {
        width: 85vw;
        display: flex;
        flex-direction: column
    }

    #container3 .con3 .page3-right .p3-img {
        border-radius: 20px 20px 0px 0px;
        order: 1;
        width: 85vw;
    }

    #container3 .con3 .page3-left {
        order: 2;
    }

    #container4 h2 {
        font-size: 30px;
        font-weight: 400;

    }

    #container4 .con4 .page4 {
        width: 28vw;
    }

    #container5 .con5 {
        width: 80vw;
    }

    #container5 .con5 .con5-img {
        width: 177px;
        height: 262px;
    }

    #container6 .con6 {
        gap: 0rem;
        display: flex;
        flex-direction: column;
        height: 800px;
        width: 80vw;
        text-align: center;
    }

    #container6 .con6 .p6-img {
        order: 1;
        border-radius: 20px 20px 0px 0px;
        width: 80vw;
    }

    #container6 .con6 .page6 {
        order: 2;
        width: 80vw;
    }

    #container6 .con6 .page6 .p6-head {
        font-size: 30px;

    }

    #container6 .con6 .page6 .p6-content {
        font-size: 16px;

    }

    #container7 .con7 {
        display: flex;
        flex-direction: column;
        height: 800px;
        width: 80vw;
        text-align: center;
    }
    #container7 .con7 .page7 {
        width: 80vw;

    }
    #container7 .con7 .p7-img {
        border-radius: 20px 20px 0px 0px;
        width: 80vw;
    }

    #container7 .con7 .page7 h2 {
        font-size: 30px;
    }

    #container7 .con7 .page7 p {
        font-size: 16px;
    }

    #container9 .left a {
        font-size: 16px;
    }
}

@media screen and (min-width : 640px) and (max-width :767px) {
    .nave {
        justify-content: space-between;
        width: 100%;
        gap: 10px;
    }

    #spotlight .nave .menu-icon {
        display: block;
        font-size: 15px;
        color: #23b987;
    }

    .nav-bar {
        height: 0;
        z-index: 0;
        position: absolute;
        max-width: 100%;
        top: 70px;
        left: 0;
        right: 0;
        background-color: #ffffff;
        transition: 0.3s;
    }

    ul {
        display: flex;
        flex-direction: column;
        text-align: left;
        opacity: 0;
    }

    #spotlight .content {
        width: 70vw;
    }

    #spotlight .content h1 {
        font-size: 30px;
        line-height: 40px;
    }

    #container2 .con2 .education {
        width: 75vw;
    }

    #container2 .con2 .education .head {
        width: 38vw;
    }

    #container2 .con2 .IT {
        width: 75vw;
    }

    #container2 .con2 .IT .head {
        width: 30vw;
    }

    #container2 .con2 .startup {
        width: 75vw;
    }

    #container2 .con2 .startup .head {
        width: 38vw;
    }

    #container2 .con2 .tourism {
        width: 75vw;
    }

    #container2 .con2 .tourism .head {
        width: 38vw;
    }

    #container2 .con2 .health {
        width: 75vw;
    }

    #container2 .con2 .health .head {
        width: 38vw;
    }

    #container3 .con3 {
        width: 85vw;
        display: flex;
        flex-direction: column
    }

    #container3 .con3 .page3-right .p3-img {
        border-radius: 20px 20px 0px 0px;
        order: 1;
        width: 85vw;
    }

    #container3 .con3 .page3-left {
        order: 2;
    }

    #container3 .con3 .page3-left .page3-head {
        width: 450px;
    }

    #container4 {
        text-align: center;
    }

    #container4 h2 {
        justify-content: center;
        font-size: 34px;
        font-weight: 400;
    }

    #container4 .con4 {
        display: flex;
        flex-wrap: wrap;
    }

    #container4 .con4 .page4 {
        width: 40vw;
    }

    #container5 .con5 {
        width: 80vw;
    }

    #container5 .con5 .con5-img {
        width: 177px;
        height: 262px;
    }

    #container6 .con6 {
        gap: 0rem;
        display: flex;
        flex-direction: column;
        height: 800px;
        width: 80vw;
        text-align: center;
    }

    #container6 .con6 .p6-img {
        order: 1;
        border-radius: 20px 20px 0px 0px;
        width: 80vw;
    }

    #container6 .con6 .page6 {
        order: 2;
        width: 80vw;
    }

    #container6 .con6 .page6 .p6-head {
        font-size: 30px;

    }

    #container6 .con6 .page6 .p6-content {
        font-size: 16px;

    }

    #container7 .con7 {
        display: flex;
        flex-direction: column;
        height: 800px;
        width: 80vw;
        text-align: center;
    }

    #container7 .con7 .page7 {
        width: 80vw;

    }

    #container7 .con7 .p7-img {
        border-radius: 20px 20px 0px 0px;
        width: 80vw;
    }

    #container7 .con7 .page7 h2 {
        font-size: 30px;
    }

    #container7 .con7 .page7 p {
        font-size: 16px;
    }

    #container9 {
        display: flex;
        flex-direction: column-reverse;
    }

    #container9 .left a {
        font-size: 16px;
    }

    #container9 .right {
        order: 2;
    }

    #container8 .page8-p {
        width: 400px;
    }

    #container8 .con8 {
        width: 90vw;
    }
}


@media screen and (min-width : 540px) and (max-width :639px) {
    .nave {
        justify-content: space-between;
        width: 100%;
        gap: 5px;
    }

    #spotlight .nave .menu-icon {
        display: block;
        font-size: 15px;
        color: #23b987;
    }

    .nav-bar {
        height: 0;
        z-index: 0;
        position: absolute;
        max-width: 100%;
        top: 70px;
        left: 0;
        right: 0;
        background-color: #ffffff;
        transition: 0.3s;
    }

    ul {
        display: flex;
        flex-direction: column;
        text-align: left;
        opacity: 0;
    }

    #spotlight .content {
        width: 70vw;
    }

    #spotlight .content h1 {
        font-size: 23px;
        line-height: 30px;
    }

    #spotlight .content .spot-p {
        font-size: 17px;
        line-height: 25px;
    }

    #container2 .con2 .education {
        width: 75vw;
    }

    #container2 .con2 .education .head {
        width: 45vw;
    }

    #container2 .con2 .IT {
        width: 75vw;
    }

    #container2 .con2 .IT .head {
        width: 30vw;
    }

    #container2 .con2 .startup {
        width: 75vw;
    }

    #container2 .con2 .startup .head {
        width: 45vw;
    }

    #container2 .con2 .tourism {
        width: 75vw;
    }

    #container2 .con2 .tourism .head {
        width: 45vw;
    }

    #container2 .con2 .health {
        width: 75vw;
    }

    #container2 .con2 .health .head {
        width: 45vw;
    }

    #container3 .con3 {
        width: 85vw;
        display: flex;
        flex-direction: column
    }

    #container3 .con3 .page3-right .p3-img {
        border-radius: 20px 20px 0px 0px;
        order: 1;
        width: 85vw;
    }

    #container3 .con3 .page3-left {
        order: 2;
    }

    #container3 .con3 .page3-left .page3-head {
        width: 350px;
    }

    #container4 {
        text-align: center;
    }

    #container4 h2 {
        justify-content: center;
        font-size: 28px;
        font-weight: 400;
    }

    #container4 .con4 {
        display: flex;
        flex-wrap: wrap;
    }

    #container4 .con4 .page4 {
        width: 40vw;
    }

    #container5 .con5 {
        width: 80vw;
        display: flex;
        flex-direction: column;
    }

    #container5 .con5 .con5-img {
        width: 177px;
        height: 200px;
        order: 1;
    }

    #container5 .con5 .page5 {
        order: 2;
    }

    #container5 .con5 .page5 .p5-top {
        padding: 10px 20px;
        font-size: 17px;
        font-weight: 600;
    }

    #container5 .con5 .page5 .p5-botom {
        padding: 5px 20px;
    }

    #container6 .con6 {
        gap: 0rem;
        display: flex;
        flex-direction: column;
        height: 800px;
        width: 80vw;
        text-align: center;
    }

    #container6 .con6 .p6-img {
        order: 1;
        border-radius: 20px 20px 0px 0px;
        width: 80vw;
    }

    #container6 .con6 .page6 {
        order: 2;
        width: 80vw;
    }

    #container6 .con6 .page6 .p6-head {
        font-size: 30px;

    }

    #container6 .con6 .page6 .p6-content {
        font-size: 16px;
        line-height: 25px;

    }

    #container7 .con7 {
        display: flex;
        flex-direction: column;
        height: 800px;
        width: 80vw;
        text-align: center;
    }

    #container7 .con7 .page7 {
        width: 80vw;

    }

    #container7 .con7 .p7-img {
        border-radius: 20px 20px 0px 0px;
        width: 80vw;
    }

    #container7 .con7 .page7 h2 {
        font-size: 30px;
    }

    #container7 .con7 .page7 p {
        font-size: 16px;
    }

    #container9 {
        display: flex;
        flex-direction: column-reverse;
    }

    #container9 .left a {
        font-size: 16px;
    }

    #container9 .right {
        order: 2;
    }

    #container8 .page8-p {
        width: 400px;
    }

    #container8 .con8 {
        width: 90vw;
    }
}


@media screen and (min-width : 480px) and (max-width :539px) {
    .nave {
        justify-content: space-between;
        width: 100%;
        gap: 5px;
    }

    #spotlight .nave .menu-icon {
        display: block;
        font-size: 15px;
        color: #23b987;
    }

    .nav-bar {
        height: 0;
        z-index: 0;
        position: absolute;
        max-width: 100%;
        top: 70px;
        left: 0;
        right: 0;
        background-color: #ffffff;
        transition: 0.3s;
    }

    ul {
        display: flex;
        flex-direction: column;
        text-align: left;
        opacity: 0;
    }

    #spotlight .content {
        width: 70vw;
        padding: 40px;
    }

    #spotlight .content h1 {
        font-size: 23px;
        line-height: 30px;
        font-weight: 500;
    }

    #spotlight .content .spot-p {
        font-size: 17px;
        line-height: 25px;

    }

    #container2 .con2 .education {
        width: 75vw;
    }

    #container2 .con2 .education .head {
        width: 49vw;
    }

    #container2 .con2 .IT {
        width: 75vw;
    }

    #container2 .con2 .IT .head {
        width: 35vw;
    }

    #container2 .con2 .startup {
        width: 75vw;
    }

    #container2 .con2 .startup .head {
        width: 45vw;
    }

    #container2 .con2 .tourism {
        width: 75vw;
    }

    #container2 .con2 .tourism .head {
        width: 45vw;
    }

    #container2 .con2 .health {
        width: 75vw;
    }

    #container2 .con2 .health .head {
        width: 53vw;
    }

    #container3 .con3 {
        width: 85vw;
        display: flex;
        flex-direction: column
    }

    #container3 .con3 .page3-right .p3-img {
        border-radius: 20px 20px 0px 0px;
        order: 1;
        width: 85vw;
    }

    #container3 .con3 .page3-left {
        order: 2;
        padding: 0px;
    }

    #container3 .con3 .page3-left .page3-head {
        width: 300px;
    }

    #container3 .con3 .page3-left .page3-content {
        font-size: 17px;
        line-height: 23px;
    }

    #container4 {
        text-align: center;
    }

    #container4 h2 {
        justify-content: center;
        font-size: 24px;
        font-weight: 400;
    }

    #container4 .con4 {
        display: flex;
        flex-wrap: wrap;
        text-align: start;
    }

    #container4 .con4 .page4 {
        width: 85vw;
    }

    #container4 .con4 .page4 .page4-top {
        font-weight: 500;
        font-size: 18px;
    }

    #container5 .con5 {
        width: 80vw;
        display: flex;
        flex-direction: column;
    }

    #container5 .con5 .con5-img {
        width: 177px;
        height: 200px;
        order: 1;
    }

    #container5 .con5 .page5 {
        order: 2;
    }

    #container5 .con5 .page5 .p5-top {
        padding: 10px 20px;
        font-size: 17px;
        font-weight: 600;
    }

    #container5 .con5 .page5 .p5-botom {
        padding: 5px 20px;
    }

    #container6 .con6 {
        gap: 0rem;
        display: flex;
        flex-direction: column;
        height: 800px;
        width: 85vw;
        text-align: center;
    }

    #container6 .con6 .p6-img {
        order: 1;
        border-radius: 20px 20px 0px 0px;
        width: 85vw;
    }

    #container6 .con6 .page6 {
        order: 2;
        width: 85vw;
    }

    #container6 .con6 .page6 .p6-head {
        font-size: 26px;

    }

    #container6 .con6 .page6 .p6-content {
        font-size: 16px;
        line-height: 23px;

    }

    #container6 .con6 .page6 button {
        margin-top: 10px;
    }

    #container7 .con7 {
        display: flex;
        flex-direction: column;
        height: 800px;
        width: 85vw;
        text-align: center;
    }

    #container7 .con7 .page7 {
        width: 85vw;

    }

    #container7 .con7 .p7-img {
        border-radius: 20px 20px 0px 0px;
        width: 85vw;
    }

    #container7 .con7 .page7 h2 {
        font-size: 26px;
    }

    #container7 .con7 .page7 p {
        font-size: 16px;
        line-height: 23px;
    }

    #container7 .con7 .page7 button {
        margin-left: 0px;
    }

    #container9 {
        display: flex;
        flex-direction: column-reverse;
    }

    #container9 .left a {
        font-size: 16px;
    }

    #container9 .right {
        order: 2;
    }

    #container8 .p8-h2 {
        font-size: 26px;
    }

    #container8 .page8-p {
        width: 400px;
        font-size: 16px;
    }

    #container8 .con8 {
        width: 90vw;
        margin: 10px 0px;
    }

    #container8 .con8 .page8 {
        width: 200px;
        height: 420px;
    }

    #container8 .con8 .page8 .p8-top .page8-img {
        width: 200px;
    }

    #container8 .con8 .page8 .p8-bottom {
        padding: 15px 15px;
    }
}


@media screen and (min-width : 360px) and (max-width :479px) {
    #spotlight .nave {
        justify-content: center;
        width: 100%;
        gap: 230px;
    }

    #spotlight .nave .menu-icon {
        display: block;
        font-size: 15px;
        color: #23b987;
    }

    .nav-bar {
        height: 0;
        z-index: 0;
        position: absolute;
        max-width: 100%;
        top: 70px;
        left: 0;
        right: 0;
        background-color: #ffffff;
        transition: 0.3s;
    }

    ul {
        display: flex;
        flex-direction: column;
        text-align: left;
        opacity: 0;
    }

    #spotlight .content {
        width: 70vw;
        padding: 40px;
    }

    #spotlight .content h1 {
        font-size: 23px;
        line-height: 30px;
        font-weight: 500;
    }

    #spotlight .content .spot-p {
        font-size: 17px;
        line-height: 25px;

    }

    #container2 .con2 .education {
        width: 75vw;
    }

    #container2 .con2 .education .head {
        width: 59vw;
        font-size: 15px;
    }

    #container2 .con2 .IT {
        width: 75vw;
    }

    #container2 .con2 .IT .head {
        width: 50vw;
        font-size: 15px;
    }

    #container2 .con2 .startup {
        width: 75vw;
    }

    #container2 .con2 .startup .head {
        width: 55vw;
        font-size: 15px;
    }

    #container2 .con2 .tourism {
        width: 75vw;
    }

    #container2 .con2 .tourism .head {
        width: 55vw;
        font-size: 15px;
    }

    #container2 .con2 .health {
        width: 75vw;
    }

    #container2 .con2 .health .head {
        width: 59vw;
        font-size: 15px;
    }

    #container3 .con3 {
        width: 85vw;
        display: flex;
        flex-direction: column
    }

    #container3 .con3 .page3-right .p3-img {
        border-radius: 20px 20px 0px 0px;
        order: 1;
        width: 85vw;
    }

    #container3 .con3 .page3-left {
        order: 2;
        padding: 0px;
    }

    #container3 .con3 .page3-left .page3-head {
        width: 250px;
        padding: 10px;
    }

    #container3 .con3 .page3-left .page3-content {
        font-size: 17px;
        line-height: 24px;
        padding: 20px 10px;
    }

    #container4 {
        text-align: center;
    }

    #container4 h2 {
        justify-content: center;
        text-align: center;
        font-size: 28px;
        font-weight: 500;

    }

    #container4 .con4 {
        display: flex;
        flex-wrap: wrap;
        text-align: start;
    }

    #container4 .con4 .page4 {
        width: 85vw;
    }

    #container4 .con4 .page4 .page4-top {
        font-weight: 500;
        font-size: 17px;
    }

    #container5 .con5 {
        width: 80vw;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    #container5 .con5 .con5-img {
        width: 100px;
        height: 100px;
        order: 1;
    }

    #container5 .con5 .page5 {
        order: 2;
    }

    #container5 .con5 .page5 .p5-top {
        padding: 10px;
        font-size: 15px;
        font-weight: 700;
    }

    #container5 .con5 .page5 .p5-botom {
        padding: 10px;
    }

    #container6 .con6 {
        gap: 0rem;
        display: flex;
        flex-direction: column;
        height: 800px;
        width: 85vw;
        text-align: center;
    }

    #container6 .con6 .p6-img {
        order: 1;
        border-radius: 20px 20px 0px 0px;
        width: 85vw;
    }

    #container6 .con6 .page6 {
        order: 2;
        width: 85vw;
    }

    #container6 .con6 .page6 .p6-head {
        font-size: 24px;

    }

    #container6 .con6 .page6 .p6-content {
        font-size: 15px;
        line-height: 20px;

    }

    #container6 .con6 .page6 button {
        margin-top: 10px;
    }

    #container7 .con7 {
        display: flex;
        flex-direction: column;
        height: 800px;
        width: 85vw;
        text-align: center;
    }

    #container7 .con7 .page7 {
        width: 85vw;

    }

    #container7 .con7 .p7-img {
        border-radius: 20px 20px 0px 0px;
        width: 85vw;
    }

    #container7 .con7 .page7 h2 {
        font-size: 25px;
        line-height: 25px;
    }

    #container7 .con7 .page7 p {
        font-size: 15px;
        line-height: 20px;
    }

    #container7 .con7 .page7 button {
        margin-left: 0px;
    }

    #container9 {
        display: flex;
        flex-direction: column-reverse;
    }

    #container9 .left a {
        font-size: 13px;
    }

    #container9 .right {
        order: 2;
   
    }

    #container8 .p8-h2 {
        font-size: 26px;
    }

    #container8 .page8-p {
        width: 300px;
        font-size: 16px;
    }

    #container8 .con8 {
        width: 90vw;
        margin: 10px 0px;
    }

    #container8 .con8 .page8 {
        width: 330px;
        height: 450px;
    }

    #container8 .con8 .page8 .p8-top .page8-img {
        width: 330px;
    }

    #container8 .con8 .page8 .p8-bottom {
        padding: 15px 15px;
    }
    #container8 .con8 .page8 .p8-bottom .p8-btn{
        padding: 5px;
        font-size: 15px;
        width: 140px;
    }
}
@media screen and (max-width: 951px) {
    #container4 h2 {
        font-size: 20px;
        font-weight: 400;
    }    
}
@media screen and (max-width: 651px) {
    #container4 h2 {
        font-size: 28px;
        font-weight: 400;
    }    
}
@media screen and (max-width: 472px) {
    #container4 h2 {
        font-size: 28px;
        font-weight: 400;
    }    
}
@media screen and (max-width: 442px) {
    #container4 h2 {
        font-size: 26px;
        font-weight: 400;
    }    
}
@media screen and (max-width: 418px) {
    #container4 h2 {
        font-size: 26px;
        font-weight: 400;
    }    
}
@media screen and (max-width: 390px) {
    #container4 h2 {
        font-size: 24px;
    }    
}
@media screen and (max-width: 386px) {
    #container4 h2 {
        font-size: 24px;
    }    
}
@media screen and (max-width: 360px) {
    #container4 h2 {
        font-size: 22px;
    }   
   
}
@media screen and (min-width : 488px) and (max-width :610px) {
    #container4 h2 {
        font-size: 30px;
    }   
   
}
@media screen and (min-width : 522px) and (max-width :610px) {
    #container4 h2 {
        font-size: 26px;
    }   
   
}
